.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
ninth-camera-240907-ca585d80823e.json
original-return-107905-3361ea00b21c.json
original-return-107905-8542c2ab0ad1.json
original-return-107905-a4409dde2ac1.json
auth/
.DS_Store
